<etwin-main-layout>
  <h1 i18n="Title of the donation section@@donate.title">Donate</h1>
  <p i18n="Introduction to the donation section@@donate.introduction">
    Eternal-Twin is a free website. We only depend on donations to cover our costs and stay online.
    The website is maintained by volunteers and we do not generate any profit.
    Eternal-Twin wants to archive the Motion-Twin games and provide a place for their communities.
    If you like what we do and want to help us, consider making a donation.
  </p>
  <p i18n="Paragraph describe how to donate@@donate.action">
    You can <a href="https://opencollective.com/eternal-twin">check our OpenCollective page</a> for all details about
    our finance. We are using the OpenCollective platform for its transparence: you can see every donation we receive
    and all our expenses. Our project was reviewed and approved: we can now receive donations.
  </p>
  <a class="btn" href="https://opencollective.com/eternal-twin/donate" i18n="Call to action on the donation button@@donate.button">Donate</a>
</etwin-main-layout>
