<etwin-main-layout>
  <h1>Archive</h1>
  <ul>
    <li><a routerLink="/archive/hammerfest" i18n="Link to the Hammerfest archive@@archive.home.hammerfestLink">Hammmerfest</a></li>
  </ul>
</etwin-main-layout>
